/* Main */

.content {
  max-width: 960px;
  margin: auto;
}

h2 {
  clear: both;
  font-size: large;
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: #F0F0F0;
  margin: 2em 0px 1em 0px;
  padding: 2px 0px 2px 1em;
  border-width: 1px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}

h3 {
  clear: both;
  font-size: medium;
  font-weight: bold;
  color: black;
  text-align: center;
  background-color: #45c0f52a;
  margin: 0em 0px .5em 0px;
  padding: 2px 0px 2px 1em;
  border-width: 0px 0px 0px 0px;
}

.table_main {
  width: 920px;
  margin-left: 0px;
  margin-right: 0px;
  border-spacing: 0px 0px;
  table-layout: fixed;
}

.table_talks {
  width: 920px;
  margin-left: 20px;
  margin-right: 20px;
  border-spacing: 0px 0px;
  table-layout: fixed;
}

.table_links {
  max-width: 180px;
  border-spacing: 12px 0;
}

.table_list {
  margin-left: 20px;
  border-spacing: 10px 5px;
}

/* Research */

.cell_research_img {
  width: 200px;
  margin: 0 0 0 0;
}

.cell_research_text {
  width: 590px;
  height: 100px;
  text-align: justify;
  margin: 0 0 0 0;
}

.cell_research_links {
  width: 170px;
  margin: 0 0 0 0;
}

.icon_research_img {
  display: block;
  max-width: 180px;
  max-height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.icon_research_meta {
  display: block;
  max-width: 45px;
  max-height: 40px;
}

/* Talks */

.cell_talks_date {
  width: 95px;
  height: 25px;
  margin: 0 0 0 0;
  text-align: right;
}

.cell_talks_links {
  width: 80px;
  height: 25px;
  margin: 0 0 0 0;
  text-align: left;
}

.cell_talks_text {
  width: 705px;
  height: 25px;
  margin: 0 0 0 0;
  text-align: left;
}

.icon_talks {
  max-width: 30px;
  max-height: 25px;
  padding: 0px 5px;
}

/* Links to scholar */

.table_scholar {
  margin: auto;
  border-spacing: 25px 0px;
}

.icon_menu {
  max-width: 65px;
  max-height: 35px;
  width: auto;
  height: auto;
  text-align: center;
}

/* Navigation menu */

.button {
  background-color: #F0F0F0;
  border: black;
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 116px;
}

.button:hover {
  background-color: #CCCCFF;
}

table.colright td:nth-child(1) {
  text-align: right;
}