/* Aesthetics -------------------------------------- */

/* Hyperparameters */

:root {
  --full-width: 960px;
  /* width of page (before media queries) */
  --offset-width: 95%;
  /* width of lists in each section */
  --threshold-media: 700px;
  /* threshold at which media queries apply (check that in CSS queries) */
  --padding: 12px;
}

.content {
  max-width: var(--full-width);
  margin: 0 auto;
  /* padding: 0 clamp(12px, 4vw, 24px); */
  padding: 0 var(--padding);
}

a {
  color: LinkText;
  text-decoration: none;
  /* color links without underline */
}

a:hover {
  text-decoration: underline;
  /* underline when hovering */
}

h1 {
  margin-top: 2px;
}

h2 {
  clear: both;
  font-size: large;
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: #F0F0F0;
  margin: 1em 0px 1em 0px;
  padding: 2px 0px 2px 1em;
  border-width: 1px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}

h3 {
  width: auto;
  margin: 1em auto;
  clear: both;
  font-size: 1.025rem;
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: #45c0f52a;
  padding: 2px 0px 2px 1em;
  border-width: 0px 0px 0px 0px;
}

/* Buttons */

.button-base {
  background-color: #F0F0F0;
  border: 0px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.button-base:hover {
  background-color: #CCCCFF;
}

.button-nav {
  padding: 12px 16px;
  font-size: 16px;
}

.button-showmore {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .9rem;
  margin-bottom: .0rem;
  padding: .3rem .9rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 700px) {
  .button-showmore {
    width: var(--offset-width);
  }
}

/* Introduction -------------------------------------- */

.intro {
  width: min(700px, 100%);
  margin: 0 auto;
}

/* Title */

.title-table {
  width: min(calc(700px - 5*var(--padding)), 100%);
}

.title-table-text {
  text-align: center;
  vertical-align: top;
  border: none;
  padding: 0;
}


.title-table-picture {
  padding: 0;
}


.title-picture {
  max-width: 100%;
  height: auto;
  border: none;
}

@media (max-width: 700px) {
  .title-picture {
    display: none;
  }
}

/* Short CV */

.shortcv-table {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0 0px;
  margin: 0 auto 10px;
}

.shortcv-table-date {
  white-space: nowrap;
  padding-right: 15px;
  vertical-align: top;
}

.shortcv-table-text {
  vertical-align: top;
}

@media (max-width: 700px) {
  .shortcv-show-desktop {
    display: none;
  }

  .shortcv-table {
    max-width: 355px;
  }
}

/* Navigation menu */

.site-nav {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
}

.site-nav>a.button-nav {
  flex: 1 1 0;
  min-width: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 50px;
  width: auto;
}

@media (max-width: 700px) {
  .site-nav {
    flex-wrap: wrap;
    /* allow wrap */
  }

  .site-nav>a.button-nav {
    flex: 1 1 140px;
  }
}

/* Sections -------------------------------------- */

/* Lists  */

.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: var(--offset-width);
}

.list-row {
  display: grid;
  grid-template-columns: 8rem 1fr fit-content(11rem);
  gap: 1rem;
  padding: .55rem 0;
  align-items: start;
}

.list-left {
  white-space: nowrap;
}

.list-middle {
  line-height: 1.25;
}

.list-right {
  overflow-wrap: anywhere;
  text-align: right;
}

@media (max-width: 700px) {
  .list {
    width: 100%;
  }

  .list-row {
    grid-template-columns: 1fr;
    gap: .25rem;
  }

  .list-right {
    white-space: normal;
    text-align: left;
  }
}

/* Research */

#research .list-left {
  width: 100%;
  height: auto;
  border-radius: .4rem;
  display: block;
}

@media (max-width: 700px) {
  #research .list-left {
    display: none;
  }
}

/* Teaching */

.teaching-details {
  margin-top: .15rem;
}

/* Mentoring */

.mentoring-people {
  margin-top: .15rem;
}

/* Talks  */

/* Miscellaneous */

#misc .list-left {
  width: 100%;
  height: auto;
  border-radius: .4rem;
  display: block;
}

@media (max-width: 700px) {
  #misc .list-left {
    display: none;
  }
}